//// GLOBAL STYLES
$black: #151515;
$grey: #202020;
$lightgrey: #999;
$white: #eee;
$brightred: #ee171f;
$red: #dd171f;
$darkred: #9f0013;
$shadow: 4px 4px 0;
$transition: all 300ms;

body {
   background-color: $black;
   color: $white;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   height: 100vh;
}
.container {
   width: 1024px;
   margin: 0 auto;
}
h1 {
   font-size: 38px;
   margin-bottom: 40px;
}

.white-to-red-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   box-shadow: $shadow $red;
   background-color: $white;
   border: 2px solid $white;
   color: $black;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      background-color: $red;
      border: 2px solid $red;
      color: $white;
      box-shadow: $shadow $white;
   }
}
.white-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   background-color: $white;
   border: 2px solid $black;
   color: $black;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   box-shadow: $shadow $black;
   font-family: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      border: 2px solid $red;
      box-shadow: $shadow $red;
   }
}
.red-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   background-color: $red;
   border: 2px solid $red;
   color: $white;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   box-shadow: $shadow $black;
   font-family: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      border: 2px solid $red;
   }
}

//// HEADER
header {
   height: 70px;
   display: flex;
   align-items: center;
   margin-bottom: 40px;
   font-family: "Roboto Condensed", sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-transform: uppercase;
   // Logo:
   > a > img {
      height: 40px;
      margin: auto 50px auto 0;
   }
   // Search bar:
   > div {
      display: flex;
      align-items: center;
      background-color: $white;
      color: $black;
      height: 36px;
      border-bottom: 2px solid $white;
      cursor: pointer;
      &:hover {
         border-bottom: 2px solid $red;
      }
      > label {
         width: 36px;
         font-size: 20px;
         text-align: center;
         cursor: pointer;
         + input {
            width: 0;
            transition: width 700ms;
            background: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
         }
         &:hover + input,
         + input:focus {
            width: 200px;
            outline: none;
         }
      }
   }
   // Menu:
   > nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      > a,
      > span {
         margin-left: 20px;
         padding: 5px;
         color: $white;
         text-decoration: none;
         border-bottom: 2px solid $black;
         transition: border-bottom 300ms;
         cursor: pointer;
         &:hover {
            border-bottom: 2px solid $red;
         }
      }
      > div {
         margin-left: 30px;
      }
   }
}

//// MODAL
.modal-container {
   background-color: rgba($color: $black, $alpha: 0.7);
   height: 100vh;
   width: 100%;
   z-index: 500;
   position: fixed;
   top: 0;
   align-items: center;
   .modal-frame {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: auto;
      margin: 0 auto;
      padding: 40px;
      box-sizing: border-box;
      background-color: $white;
      color: $grey;
      > svg {
         // X to close modal
         font-size: 20px;
         position: relative;
         align-self: flex-end;
         top: -20px;
         right: -20px;
         cursor: pointer;
         &:hover {
            color: $red;
         }
      }
      > div {
         display: flex;
         justify-content: space-around;
         margin: 10px 0 30px 0;
      }
      > form {
         display: flex;
         flex-direction: column;
         > input {
            margin-bottom: 20px;
            padding: 10px;
            background: none;
            border: none;
            border-bottom: 2px solid $grey;
            font-family: inherit;
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            &:focus {
               outline: none;
               border-bottom: 2px solid $red;
            }
         }
         > button {
            margin: 20px 0 10px 0;
            font-family: inherit;
            font-size: inherit;
            font-weight: 500;
            &:focus {
               outline: none;
            }
         }
      }
   }
}

//// HOME
main {
   display: flex;
}
.character-list {
   width: 60%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}

// CARDS
.card {
   width: calc(50% - 20px);
   height: 120px;
   margin: 0px 20px 20px 0px;
   transition: all 300ms;
   text-decoration: none;
   // Background image:
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   &:hover {
      transition: all 300ms;
      box-shadow: $shadow $red;
      .card-icon {
         display: initial;
      }
   }
   > div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba($color: $black, $alpha: 0.9);
      transition: all 300ms;
      &:hover {
         background-color: rgba($color: $black, $alpha: 0.7);
      }
      > div,
      a {
         display: flex;
         align-items: center;
         margin: 10px;
         color: $white;
         text-decoration: none;
         cursor: pointer;
         > span {
            display: none;
            margin: 3px 5px 0 5px;
            font-size: 18px;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 500;
         }
         > .card-icon {
            display: none;
            font-size: 30px;
            transition: all 300ms;
            &:hover {
               color: $red;
               transition: all 300ms;
               ~ span {
                  display: block;
               }
            }
         }
      }
   }
}

// PREVIEW
.preview-section {
   position: sticky;
   top: 50px;
   width: 40%;
   margin-left: 50px;
   height: 600px;
   text-align: right;
   h2 {
      position: absolute;
      top: 0;
      // right: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 28px;
      font-weight: 500;
      background-color: rgba($color: $black, $alpha: 0.8);
   }
   p {
      position: absolute;
      bottom: 0;
      padding: 10px;
      background-color: rgba($color: $black, $alpha: 0.8);
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

//// CHARACTER PAGE
.character-comics {
   width: 60%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}

//// FOOTER
footer {
   margin-top: 30px;
   padding: 30px 0;
   background-color: $grey;
   font-size: 12px;
   text-align: center;
   strong,
   a {
      font-weight: 500;
      color: $white;
      text-decoration: none;
   }
   a:hover {
      color: $red;
   }
}
