//// GLOBAL STYLES
$black: #151515;
$grey: #202020;
$lightgrey: #999;
$white: #eee;
$red: #ee171f;
$darkred: #9f0013;
$shadow: 4px 4px 0;

body {
   background-color: $black;
   color: $white;
   font-family: "Roboto", sans-serif;
   font-weight: 300;
}
.container {
   width: 1024px;
   margin: 0 auto;
}
.white-to-red-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   box-shadow: $shadow $red;
   background-color: $white;
   border: 2px solid $white;
   color: $black;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      background-color: $red;
      border: 2px solid $red;
      color: $white;
      box-shadow: $shadow $white;
   }
}
.white-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   background-color: $white;
   border: 2px solid $black;
   color: $black;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   box-shadow: $shadow $black;
   font-family: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      border: 2px solid $red;
      box-shadow: $shadow $red;
   }
}
.red-button {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 15px;
   background-color: $red;
   border: 2px solid $red;
   color: $white;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   box-shadow: $shadow $black;
   font-family: inherit;
   cursor: pointer;
   transition: background-color 300ms, border 300ms, color 300ms,
      box-shadow 300ms;
   &:hover {
      border: 2px solid $red;
   }
}

//// HEADER
header {
   height: 70px;
   display: flex;
   // justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;
   font-family: "Roboto Condensed", sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-transform: uppercase;
   > a > img {
      height: 40px;
      margin: auto 50px auto 0;
   }
   // Search bar:
   > div {
      display: flex;
      align-items: center;
      background-color: $white;
      color: $black;
      height: 38px;
      border-bottom: 2px solid $white;
      cursor: pointer;
      &:hover {
         border-bottom: 2px solid $red;
      }
      > label {
         text-align: center;
         width: 36px;
         font-size: 20px;
         cursor: pointer;
         + input {
            width: 0;
            transition: width 700ms;
            background: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
         }
         &:hover + input,
         + input:focus {
            width: 200px;
            outline: none;
         }
      }
   }
   > nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      > a,
      > span {
         margin-left: 20px;
         padding: 5px;
         color: $white;
         text-decoration: none;
         border-bottom: 2px solid $black;
         transition: border-bottom 300ms;
         cursor: pointer;
         &:hover {
            border-bottom: 2px solid $red;
         }
      }
      > div {
         margin-left: 30px;
      }
   }
}

//// MODAL
.modal-container {
   background-color: rgba($color: #000000, $alpha: 0.7);
   height: 100vh;
   width: 100%;
   z-index: 500;
   position: fixed;
   top: 0;
   align-items: center;
   .modal-frame {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: auto;
      margin: 0 auto;
      padding: 40px;
      box-sizing: border-box;
      background-color: $white;
      color: $grey;
      > svg {
         // X to close modal
         font-size: 20px;
         position: relative;
         align-self: flex-end;
         top: -20px;
         right: -20px;
         cursor: pointer;
         &:hover {
            color: $red;
         }
      }
      > div {
         display: flex;
         justify-content: space-around;
         margin: 10px 0 30px 0;
      }
      > form {
         display: flex;
         flex-direction: column;
         > input {
            margin-bottom: 20px;
            padding: 10px;
            background: none;
            border: none;
            border-bottom: 2px solid $grey;
            font-family: inherit;
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            &:focus {
               outline: none;
               border-bottom: 2px solid $red;
            }
         }
         > button {
            margin: 20px 0 10px 0;
            font-family: inherit;
            font-size: inherit;
            font-weight: 500;
            &:focus {
               outline: none;
            }
         }
      }
   }
}

//// HOME
h1 {
   font-size: 32px;
   margin-bottom: 20px;
}
// Character cards:
.character-list {
   display: flex;
   flex-wrap: wrap;
   .character-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 240px;
      height: 230px;
      margin: 0 5px 20px 5px;
      background-color: $grey;
      img {
         width: 100%;
         height: 200px;
         object-fit: cover;
      }
   }
}
//// FOOTER
footer {
   margin-top: 30px;
}
